{% extends "application.html" %}

{% block icons %}

{% endblock icons %}

{% block app_content %}
     <div class="py-8">
        <div class="container mx-auto">
            <div class="mx-auto w-96 bg-white rounded p-12 shadow-xl">
                <div class="my-8">
                    <h1 class="text-2xl font-bold my-4">{{ _('Change your password') }}</h1>
                </div>
                <div class="my-8">
                    <p class="text-black text-sm text-opacity-70">Enter a new password.</p>
                </div>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <div class="my-8">
                        <div>
                            <label for="password" class="text-sm">Password</label>
                        </div>
                        <div class="w-full my-4">
                            {{ form.password(class="w-full border rounded py-2") }}
                        </div>

                        {% for error in form.password.errors %}
                        <div>
                            <span class="text-sm text-red-500">{{ error }}</span>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="my-8">
                        <div>
                            <label for="confirm_password" class="text-sm">Confirm password</label>
                        </div>
                        <div class="w-full my-4">
                            {{ form.confirm_password("w-full border rounded py-2") }}
                        </div>

                        {% for error in form.confirm_password.errors %}
                            <span class="text-sm text-red-500">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="my-8">
                        {{ form.submit(class="w-full bg-indigo-500 rounded py-3 text-white") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock app_content %}