{% extends "application.html" %}

{% block scripts %}
    <script type="text/javascript" src="//code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js" integrity="sha512-AcZyhRP/tbAEsXCCGlziPun5iFvcSUpEz2jKkx0blkYKbxU81F+iq8FURwPn1sYFeksJ+sDDrI5XujsqSobWdQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        let socket;
        $(document).ready(function(){
            socket = io.connect('http://' + document.domain + ':' + location.port + '/game');
            socket.on('connect', function() {
                socket.emit('joined', {});
            });
            socket.on('status', function(data) {
                $('#chat').val($('#chat').val() + '<' + data.msg + '>\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            socket.on('message', function(data) {
                $('#chat').val($('#chat').val() + data.msg + '\n');
                $('#chat').scrollTop($('#chat')[0].scrollHeight);
            });
            $('#text').keypress(function(e) {
                var code = e.keyCode || e.which;
                if (code == 13) {
                    text = $('#text').val();
                    $('#text').val('');
                    socket.emit('text', {msg: text});
                }
            });
        });

        function leave_session() {
            socket.emit('left', {}, function() {
                socket.disconnect();

                window.location.href = "{{ url_for('core.dashboard') }}";
            });
        }
    </script>
{% endblock scripts %}

{% block app_content %}
    <h1>Schmeissen Game Session</h1>

    <textarea id="chat" cols="80" rows="20"></textarea><br><br>
    <input id="text" size="80" placeholder="Enter your message here"><br><br>
    <a href="#" onclick="leave_session();">Leave Session</a>
{% endblock app_content %}