<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    
    <title>
    {% block title %}
        {% if title %}
        {{ title }} - Schmeissen
        {% else %}
        Schmeissen
        {% endif %}
    {% endblock title %}
    </title>

    <meta name="description" content="Schmeissen">
    <meta name="viewport" content="width=device-width, intial-scale=1">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cabin&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='dist/style.css') }}" />

    {% block scripts %}
    {% endblock scripts %}
</head>

<body>
    {% block content %}
    {% endblock content %}
</body>
</html>